:root {
    --box: 0 10px 40px rgba(0, 0, 0, 0.1);
}

body {
    display: flex;
    justify-content: center;
    position: relative;
    top: 5em;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    font-weight:  1000;
}

td, th {
    width: 10em;
}

tr {
    text-align: center;
}

td a {
    color: black;
    text-decoration: underline;
    display: flex;
    justify-content: center;
}