:root {
    --box: 0 10px 40px rgba(0, 0, 0, 0.2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container button {
    box-shadow: var(--box);
    border-radius: 10px;
    border: 1px solid;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: 600;
    height: 2em;
    width: 20em;
    transition: all 0.3s ease-in-out;
}

.container button:hover {
    background-color: white;
    color: black;
}